# Example usage

# Core functionality - changes here should be rare
/EsportsManagementTool/EsportsManagementTool/__init__.py           @purp-rup
/EsportsManagementTool/EsportsManagementTool/exampleModule.py      @purp-rup
